.search {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: rgb(49, 50, 68);
  color: rgb(205, 214, 244);
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: none;
  /* border-radius: 50%; */
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button span {
  color: rgb(205, 214, 244);
  width: 16px;
}
